<div class="slide main-slide slick-initialized slick-slider" role="toolbar">
  <div aria-live="polite" class="slick-list draggable">
    <div class="slick-track" style="opacity: 1;" role="listbox">
      <div class="hero-div atom-bg-grey">
        <div class="slide01 slick-slide" style="background: url(&quot;img/TONB-5-New-Disney__hero-bg.jpg&quot;) center center / cover no-repeat transparent;" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00">


        <!-- START sitecore banner content -->
          <style type="text/css">
            [style*="TONB-5-New-Disney__hero-bg"] {height: 298px;}
            @media only screen and (max-width: 567px) {
              [style*="TONB-5-New-Disney__hero-bg"] {background-image: url(img/TONB-5-New-Disney__hero-bg--mobile.jpg) !important;}
            }
            [style*="TONB-5-New-Disney__hero-bg"] {
              float:none; /*fix odd float margin on in local*/
              background-color: #ccc; /*background color when no image on local*/
            }
            .mid .section__cta-container--center-btn {
              margin-top: 0;
            }
            [style*="TONB-5-New-Disney__hero-bg"] h2, [style*="TONB-5-New-Disney__hero-bg"] p { color:#fff; }
            .main-slide [style*="TONB-5-New-Disney__hero-bg"] h2 {
              margin-bottom:11px;
            }
            [style*="TONB-5-New-Disney__hero-bg"] p {
              max-width: 600px;
              text-align: center;
              margin-left:auto;
              margin-right: auto;
              padding-left: 15px;
              padding-right: 15px;
            }
            .main-slide [style*="TONB-5-New-Disney__hero-bg"] p {
              margin-bottom:16px;
              margin-left:auto; /*fix odd left margin on in local*/
            }
            @media only screen and (max-width: 568px) {
              [style*="TONB-5-New-Disney__hero-bg"] .mid {
                margin:0 15px;
              }
              [style*="TONB-5-New-Disney__hero-bg"] span.h2--enlarge {
                font-size: 24px;
                font-weight: 300;
              }
            }
            @media only screen and (min-width: 568px) {
              [style*="TONB-5-New-Disney__hero-bg"] {height: 410px;}
            }

          </style>
          <div class="mid">
            <span class="h2--enlarge">Book Your Dream Disney Vacation with CAA Travel.</span>
            <!-- <p>
              <strong>Driving is tough. And potholes, congestion and poor signs make it even worse. Let us know what you think are Ontario’s Worst Roads. </strong>
            </p>
            <div class="section__cta-container--center-btn">
              <a href="#?utm_source=CAA-ProjectName-homepage&utm_medium=banner&utm_campaign=2017-ProjectName" class="atom-btn-sml" tabindex="0" target="_blank"> <span>Vote Now</span></a>
            </div> -->
          </div>

        <!-- END sitecore banner content -->

        </div>
      </div>
    </div>
  </div>
</div>