<section>
  <div class="wrapper">
    <h1>Main Header Title</h1>
    <p class="test">home content new stuff</p>
  </div>
</section>



<section class="places__section">
  <div class="bg-color--yellow">
    <div class="wrapper">
      <h2 class="h2--enlarge">Places to Visit This Summer.</h2>
      <p class="text--center">Three months of summer equals endless fun. There are so many cool places to visit and here are some of CAA&rsquo;s favourites.</p>
      <div class="places-slides">
        <div>
          <div class="place__container" style="background-image: url('~/media/4F7AC5E9AB5A495EA45217C634697EA3.ashx'); background-size: cover;">
            <h2>Best Scenic Day Trips in&nbsp;Ontario.</h2>
            <div class="section__cta-container--center-btn">
              <a href=" http://blog.caasco.com/local/day-trips-in-southern-ontario/?utm_source=landing-page&utm_medium=CTA&utm_campaign=2017-Summer-Ready-Guide" class="atom-btn-sml" tabindex="0" target="_blank"> <span><strong>Read Now</strong></span></a>
            </div>
          </div>
        </div>
        <div>
          <div class="place__container" style="background-image: url('~/media/AA0AD8FF2E45498E8D3ED34AAF6F908A.ashx'); background-size: cover;">
            <h2>Ontario&rsquo;s Top 6 Unique Camping Spots.</h2>
            <div class="section__cta-container--center-btn">
              <a href="https://www.caasco.com/CAA-Magazine/Outdoors/6-unique-places-you-need-to-camp-this-summer-in-ontario.aspx?utm_source=landing-page&utm_medium=CTA&utm_campaign=2017-Summer-Ready-Guide" class="atom-btn-sml" tabindex="0" target="_blank"> <span><strong>Explore Now</strong></span></a>
            </div>
          </div>
        </div>
        <div>
          <div class="place__container" style="background-image: url('~/media/249AC87CC789482182C6FAE5771264C5.ashx'); background-size: cover;">
            <h2>Road Trips to the Best Sunsets in Canada.</h2>
            <div class="section__cta-container--center-btn">
              <a href="http://blog.caasco.com/travel/road-trips-best-sunsets-canada/?utm_source=landing-page&utm_medium=CTA&utm_campaign=2017-Summer-Ready-Guide" class="atom-btn-sml" tabindex="0" target="_blank"> <span><strong>See Now</strong></span></a>
            </div>
          </div>
        </div>
        <div>
          <div class="place__container" style="background-image: url('~/media/CC59CC6BAC52473AA5954B745B446200.ashx'); background-size: cover;">
            <h2>Must-see Canadian National&nbsp;Parks.</h2>
            <div class="section__cta-container--center-btn">
              <a href="http://blog.caasco.com/travel/5-parks-canada-destinations-to-visit-this-summer/?utm_source=landing-page&utm_medium=CTA&utm_campaign=2017-Summer-Ready-Guide" class="atom-btn-sml" tabindex="0" target="_blank"> <span><strong>Learn More</strong></span></a>
            </div>
          </div>
        </div>
        <div>
          <div class="place__container" style="background-image: url('~/media/D692E0FDA98C47BAAE9F33E04C4AE920.ashx'); background-size: cover;">
            <h2>Picturesque Small Towns in&nbsp;Ontario.</h2>
            <div class="section__cta-container--center-btn">
              <a href="http://blog.caasco.com/local/top-5-picture-perfect-ontario-towns/?utm_source=landing-page&utm_medium=CTA&utm_campaign=2017-Summer-Ready-Guide?utm_source=landing-page&utm_medium=CTA&utm_campaign=2017-Summer-Ready-Guide" class="atom-btn-sml" tabindex="0" target="_blank"> <span><strong>See Now</strong></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>